<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width=420">
        <script src="angular.min.js"></script>
        <script src="lights.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body ng-controller="lights">
        <svg width='100%' height='400'>
            <rect x='0' y='0' rx='40' ry='40' width='400' height='400' fill='#CCC'></rect>
            <circle fill='blue' cx='100' cy='100' r='75' ng-show='blueOn'></circle>
            <circle fill='red' cx='300' cy='100' r='75' ng-show='redOn'></circle>
            <circle fill='green' cx='300' cy='300' r='75' ng-show='greenOn'></circle>
            <circle fill='yellow' cx='100' cy='300' r='75' ng-show='yellowOn'></circle>
        </svg>

        <div>
            <button ng-click="start()" ng-disabled='isRunning()'>Start</button>
            <button ng-click="stop()" ng-disabled='!isRunning()'>Stop</button>
        </div>
    </body>
</html>
